@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Poppins:wght@100..900&display=swap");

#Directioncard {
  height: max-content;
  width: 9.4cm;
  background-color: white;
  position: absolute;
  z-index: 999;
  top: 10px;
  left: 10px;
  line-height: 60px;
  border-radius: 23px;
  font-family: "Figtree";
}

.directions_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#Deparatureinput, #Arrivalinput {
  width: 76%;
  border: none;
  outline: none;
  padding: 14px 1cm;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8px;
  background-color: rgb(237, 237, 237);
}

#Arrivalinput {
  margin-bottom: 0.8cm;
}

.directions_header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 100 !important;
  font-family: "Figtree";
}

.directions_header > img {
  position: relative;
  left: 9px;
}

#Deparatureinput::placeholder, #Arrivalinput::placeholder {
  font-size: 17px;
  text-align: center;
}

.dirction_icons {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#doticon, #threedoticon, #mapicon {
  margin-left: 10px;
}

.Input_Change {
  position: absolute;
  right: 10px;
  margin-top: 0.7cm;
  cursor: pointer;
}

.steps_container {
  height: 4.5cm;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1.2cm;
}

.steps_container_header {
  font-size: 11px;
}

.steps_container_center {
  display: flex;
  gap: 42px;
}

.steps_container_center_left {
  display: grid;
  line-height: 20px;
  position: relative;
  font-size: 11px;
}

#Steps_button {
  background-color: #2266FF;
  border: none;
  outline: none;
  font-family: Poppins;
  width: 3.2cm;
  height: 1.1cm;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
}

.Addicondiv {
  position: absolute;
  left: -32px;
  top: 3px;
}

#directory2 {
  position: relative;
  padding: 0 20px;
  max-height: 350px; /* Set a max height for scrolling */
  overflow-y: auto;  /* Enable vertical scrolling */
  border-radius: 8px; /* Optional: rounded corners */
  scrollbar-width: none;

}

#directory2::-webkit-scrollbar {
  display: none;
}
.categoryGroup2 {
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 1rem;
  
}
.search_top_header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5cm;
  padding: 0cm 8px;
}
.categoryGroup2 h3 {
  margin: 0 0 0.5rem 0;
}

.categoryGroup2 ul {
  list-style-type: none;
  padding: 0;
}

.categoryGroup2 li {
}
